.butter-theme-flax{

    /* Font */
    --Font-normal: 'Arial', sans-serif;
    --Font-title: 'Dosis', sans-serif;
    --Font-color: #FFF;

    /* { Accent } */
     --Main-color:  #de5362;

    /* -- { Window } -- */
    --Window-bg:  #191d22;

    /* Window handler */
    --Window-handler-bg: transparent;
    --Window-handler-height: 33px;

    /* -- { Navbar } -- */
    --Navbar-bg: #323a45;

    /* { Input } */
    --Input-bg: rgba(0, 0, 0, 0.5);

    /* { Button } */
    --Button-hover-bg: #C74A58;
    --Button-active-bg: #e16471;
}
